/* Default */

body {
    background: black;
}

.postcard {
    background: white;
    font-family: 'Architects Daughter', cursive;
	width: 500px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

/* Top */

.header {
    position: relative;
    height: 75px;
    display: flex;
}

.title {
    flex: 1;
}

.title h1{
    float: left;
}

.title img{
    max-width: 60px;
    float: right;
}

/* Mid */

.cuerpo {
    overflow: hidden;
}

.text {
    font-family: 'Architects Daughter', cursive;
    text-align: left;
    margin-left: 0%;
    float: left;
    width: 50%;
}

.info {
    float: right;
    width: 50%;
}

.info input [type=text]{
    display: block;
    border: none;
    border-bottom: 2px solid salmon;
    font-size: 10px;
    font-family: 'Architects Daughter', cursive;
    width: 100%;
    margin-top: 10px;
}

/* Bot */

.button {
    float: center;
    width: 50%;
    text-align: center;
}

.button input [type = submit] {
    height: 15%;
    margin: 1em;
    font-family: 'Architects Daughter', cursive;
    width: 40%;
    margin: 0%;
    border: none;
    overflow: hidden;
}
